body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 70px;
  padding-bottom: 70px;
}

a {
  font-family: "Pacifico", sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-decoration: none;
  color: Black;

  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    color: Black;
  }
  50% {
    color: #0d6efd;
  }
  100% {
    color: #000;
  }
}
