body {
  /* 배경색이 화면에 꽉차도록 */
  height: 100%;
  background-color: #3598dc;
  /* margin 상하 좌우 없도록 */
  margin: 3rem 0;
}

.outer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-box {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #d0e6f7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;

  color: #3598dc;
  font-family: "Varela Round";
  font-size: 30px;
  font-weight: 900;

  cursor: pointer;
}

.image-box {
  background-color: white;
  width: 85vw;
  height: 80vh;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dots {
  margin-top: 25px;
}

.dots > button {
  background-color: #2973a5;
  width: 3px;
  height: 12px;
  border-radius: 50%;
  border: none;

  margin: 0 21px;
}

.dots > button:hover {
  background-color: #102738;
}
