* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  text-align: center;

  /* 전체 화면 크기를 정해주기 위해 */
  height: 100vh;
}

a {
  font-family: "Pacifico", cursive;
  font-size: 72px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  padding-top: 85px;
  padding-bottom: 30px;
}

h2 {
  margin: 20px auto;
  font-size: 48px;
}

span {
  font-size: 24px;
}

.calendar-name {
  margin-top: 47px;
}

.calendar-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 35px auto;
  height: 25vh;
}

.arrow {
  cursor: pointer;
}

.calendar {
  font-size: 16px;
  font-weight: bold;
}
