body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: #202124;
    color: #bdc1c6;
}

.body-wrapper {
    min-height: 100%;
}

nav {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    font-size: 14px;
}

.nav-left {
    margin-left: 20px;
}

.nav-right {
    margin-right: 20px;

    display: flex;
    align-items: center;
}

.nav-left > a {
    margin-right: 15px;
}

.nav-right > * {
    margin-left: 19px;
    color: white;
}

.my-profile {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
    background-color: #bf360d;
    text-align: center;
}

section {
    padding-top: 135px;
    height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.google-logo {
    width: 270px;
}

.search {
    height: 40px;
    width: 600px;
    border-radius: 40px;
    border: 1px solid #5f6368;
    background-color: #202124;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
}

.search > input {
    width: 500px;
    height: 40px;
    background-color: #202124;
    border: none;
    outline: none;
    font-size: 17px;
    color: white;
}

.buttons > button {
    background-color: #303134;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    height: 36px;
    padding: 0 15px;
    margin: 0 4px;
}

.service-text {
    font-size: 14px;
}

.service-text > .language {
    color: #8ab4f8;
}

footer {
    background-color: #171717;
    color: #9aa0a6;
    font-size: 14px;

    height: 95px;
    position: relative;
    transform: translateY(-100%);
}

.ft-item {
    padding: 15px 30px;
    border-top: 1px solid #202124;
}

.company-info {
    display: flex;
    justify-content: space-between;
}

.ft-left > a {
    margin-right: 20px;
}

.ft-right > a {
    margin-left: 20px;
}
